.idea
vendor
app_voetbaloog/configs/config.ini
app_voetbaloog/configs/application.ini
apps/configs/config.ini
library/Voetbal/config.ini
app_voetbaloog/cache/**
pub_voetbaloog/public/scripts/jslibraryvo/voetbaloog-min*
pub_voetbaloog/public/scripts/custom.min*
pub_voetbaloog/public/styles/min-*
pub_voetbaloog/jslibrary/min*
