	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/05/2016 12:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-berichtenbord:before { content: "\f100"; }
.flaticon-gelekaart:before { content: "\f101"; }
.flaticon-goals:before { content: "\f102"; }
.flaticon-grafiek:before { content: "\f103"; }
.flaticon-instellingen:before { content: "\f104"; }
.flaticon-kaarten:before { content: "\f105"; }
.flaticon-nultegengoals:before { content: "\f106"; }
.flaticon-programma:before { content: "\f107"; }
.flaticon-rodekaart:before { content: "\f108"; }
.flaticon-score:before { content: "\f109"; }
.flaticon-stand:before { content: "\f10a"; }
.flaticon-tegengoals:before { content: "\f10b"; }
.flaticon-three:before { content: "\f10c"; }
.flaticon-uitleg:before { content: "\f10d"; }
.flaticon-voorspellingen:before { content: "\f10e"; }